---
////////////////////IMPORT
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
//////////////////////////CONST
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<h1>Home</h1>
		<h2>mon premier site Astro</h2>
		<script>
			document.querySelector('.hamburger').addEventListener('click', () => {
				document.querySelector('.nav-links').classList.toggle('expanded');
			});
		</script>
	</body>
</html>
